<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/estilos.css" />
        <link rel="icon" href="/static/img/favicon.ico" />
        <title>Detalle de la receta</title>
        <script src="https://kit.fontawesome.com/83ada6c78d.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet" />
    </head>
<body>
    <header>
        <section class="container">
            <nav class="primerDiv">
                <a href="/">
                    <img src="/static/img/logo_trial.png" class="img1">
                </a>
                <div class="last-links desktop-nav">
                    <div class="dropdown">
                        <a href="" class="dropbtn">Categorías</a>
                        <div class="dropdown-content">
                            <a href="">Panadería</a>
                            <a href="">Pastelería</a>
                            <a href="">Carnes</a>
                            <a href="">Pastas</a>
                            <a href="">Low cost</a>
                        </div>
                    </div>
                    <a href="quienes_somos">Quienes Somos</a>
                    <a href="create">Crear recetas</a>
                </div>
                <input type="checkbox" id="menu-toggle" class="menu-toggle">
                <label for="menu-toggle" class="menu-toggle-icon">
                    <i class="fas fa-bars"></i>
                </label>
                <div class="last-links mobile-nav">
                    <div class="dropdown">
                        <a href="" class="dropbtn">Categorías</a>
                        <div class="dropdown-content">
                            <a href="">Panadería</a>
                            <a href="">Pastelería</a>
                            <a href="">Carnes</a>
                            <a href="">Pastas</a>
                            <a href="">Low cost</a>
                        </div>
                    </div>
                    <a href="quienes_somos">Quienes Somos</a>
                    <a href="create">Crear recetas</a>
                </div>
            </nav>
        </section>
    </header>
    <main>
        <div class="button-group">
        <button onclick="window.location.href = '/'" class="btn-volver">Volver</button>
        </div>
        <section class="container">
            <div class="container-card">
           
            <h1>{{ receta[1] }}</h1>
            <p><strong>Tiempo de preparación:</strong> {{ receta[2] }}</p>
            <p><strong>Ingredientes:</strong> {{ receta[3] }}</p>
            <p><strong>Pasos:</strong> {{ receta[4] }}</p>
            <p><strong>Categoría:</strong> {{ receta[5] }}</p>
            <p><strong>Dificultad:</strong> {{ receta[6] }}</p>
            <p><strong>Imagen:</strong> <img src="/static/img/{{ receta[7] }}" alt="{{ receta[1] }}">
            </p>
            <div class="button-group">
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
            </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="container">
            <div>
                <a href="">Terminos y condiciones</a>
                <a href="">Preguntas Frecuentes</a>
                <a href="">Ayuda</a>
                <a href=""><i class="fas fa-question-circle"></i></a>
            </div>
            <div class="redes-sociales">
                <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <p>&copy; Todos los derechos reservados</p>
        </section>
    </footer>
    <button id="scrollToTopButton">&#9650;</button>
    <script src="/static/js/index.js"></script>
</body>
</html>
