<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>Cuchara y Sazón</title>

    <!--Para tener los iconos de las redes-->
    <script src="https://kit.fontawesome.com/83ada6c78d.js" crossorigin="anonymous"></script>
    <!--Para tener las fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">

    <!-- Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


</head>

<body>
    <header>
        <section class="container">        
            <nav class="primerDiv">
                <a href="/">
                    <img src="/static/img/logo_trial.png" class="img1" />
                </a>
                <div class="last-links desktop-nav">
                    <div class="dropdown">
                        <a href="" class="dropbtn">Categorías</a>
                        <div class="dropdown-content">
                            <a href="">Panadería</a>
                            <a href="">Pastelería</a>
                            <a href="">Carnes</a>
                            <a href="">Pastas</a>
                            <a href="">Low cost</a>
                        </div>
                    </div>
                    <a href="quienes_somos">Quienes Somos</a>
                    <a href="listar-recetas">Recetas</a>
                </div>
                <input type="checkbox" id="menu-toggle" class="menu-toggle" />
                <label for="menu-toggle" class="menu-toggle-icon">
                    <i class="fas fa-bars"></i>
                </label>
                <div class="last-links mobile-nav">
                    <div class="dropdown">
                        <a href="" class="dropbtn">Categorías</a>
                        <div class="dropdown-content">
                            <a href="">Panadería</a>
                            <a href="">Pastelería</a>
                            <a href="">Carnes</a>
                            <a href="">Pastas</a>
                            <a href="">Low cost</a>
                        </div>
                    </div>
                    <a href="quienes_somos">Quienes Somos</a>
                    <a href="listar-recetas">Recetas</a>
                </div>
            </nav>
        </section>

    </header>
    <main >
        <section class="main-form">
            <div class="container-form">
                <h2>Editar Receta</h2>

                {% for receta in recetas %}

                <form action="{{ url_for('update_receta') }}" class="form-registro" id="formRegister" method="POST" enctype="multipart/form-data">
                    <label for="id">ID: <br>
                    <input type="int" id="id" name="id" value="{{receta[0]}}">
                    </label> 
                    <label for="name">Nombre: <br>
                    <input type="text" id="nombre" name="nombre" value="{{receta[1]}}">
                    </label>  
                                    
                    <label for="tiempo">Tiempo: <br>
                    <input type="text" id="tiempo" name="tiempo" value="{{receta[2]}}">
                    </label>   
                                   
                    <label for="ingredientes">Ingredientes: <br>
                    <input type="text" id="ingredientes" name="ingredientes" value="{{receta[3]}}">
                    </label>  
                                      
                    <label for="text">Pasos: <br>
                    <input type="text" id="pasos" name="pasos" value="{{receta[4]}}">
                    </label>
                      
                    <label for="categoria">Categoria:
                        <select id="categoria" name="categoria">
                            <option value="">Seleccione: </option>
                            <option value="panaderia" {% if receta[5] == 'panaderia' %}selected{% endif %}>Panaderia</option>
                            <option value="pasteleria"{% if receta[5] == 'pasteleria' %}selected{% endif %}>Pasteleria</option>
                            <option value="carnes" {% if receta[5] == 'carnes' %}selected{% endif %}>Carnes</option>
                            <option value="pastas" {% if receta[5] == 'pastas' %}selected{% endif %}>Pastas</option>
                            <option value="Low cost" {% if receta[5] == 'Low Cost' %}selected{% endif %}>Low Cost</option>
                            <option value="Otros" {% if receta[5] == 'otros' %}selected{% endif %}>Otra</option>
                                                      
                        </select>
                    </label> 
                    
                    <label for="text">Dificultad: <br>
                        <input type="checkbox" id="1" name="dificultad" value="baja"  {% if 'baja' in receta[6] %}checked{% endif %} /> Baja
                        <input type="checkbox" id="2" name="dificultad" value="media"  {% if 'media' in receta[6] %}checked{% endif %}/> Media
                        <input type="checkbox" id="3" name="dificultad" value="alta"  {% if 'alta' in receta[6] %}checked{% endif %} /> Alta
                    </label>

                    <label for="url">Imagen Receta: <br>
                        <input type="file" id="imagen" name="imagen" accept="image/*" value="{{receta[7]}}">
                    </label>
                    {%endfor%}

                    <br><br>
                    <div class="button-inicio">
                    <input type="submit" value="Guardar">
                    <a class="button" href="/listar-recetas"> Cancelar</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <a href="">Terminos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
        <a href=""><i class="fas fa-question-circle"></i></a>
        <div class="redes-sociales">
            <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
        </div>

        <p>&copy; Todos los derechos reservados</p>



    </footer>
    <button id="scrollToTopButton">&#9650;</button>
    <script src="/static/js/index.js"></script>
  

</body>

</html>